*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.exe

# To stop the output image from getting pushed.
gray.png
gray0.png
gray1.png
gray2.png
gray3.png
gray4.png
gray5.png
gray6.png
gray7.png
gray8.png
gray9.png

