*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.exe
*.out

# To stop the output image from getting pushed.
gray.png
gray0.png
gray1.png
gray2.png
gray3.png
gray4.png
gray5.png
gray6.png
gray7.png
gray8.png
gray9.png

img0.png
img1.png
img2.png
img3.png
img4.png
img5.png
img6.png
img7.png
img8.png
img9.png

imgMin0.png
imgMin1.png
imgMin2.png
imgMin3.png
imgMin4.png
imgMin5.png
imgMin6.png
imgMin7.png
imgMin8.png
imgMin9.png

imgMax0.png
imgMax1.png
imgMax2.png
imgMax3.png
imgMax4.png
imgMax5.png
imgMax6.png
imgMax7.png
imgMax8.png
imgMax9.png

img0_convolution.png
img1_convolution.png
img2_convolution.png
img3_convolution.png
img4_convolution.png
img5_convolution.png
img6_convolution.png
img7_convolution.png
img8_convolution.png
img9_convolution.png

OutputConvolution.png
OutputMaxPooling.png
OutputMinPooling.png
